---
layout: partial
title: Project 
---

#dayView{'ng-controller'=>'app.HomeController'}
  %a{'ng-click'=>'loadPreviousWeek()', class: 'btn'} Previous Week
  %a{'ng-click'=>'loadThisWeek()', class: 'btn'} This Week
  %a{'ng-click'=>'loadNextWeek()',class: 'btn'} Next Week
  %a{'ng-click'=>'duplicatePreviousWeek()', class: 'btn'} Duplicate previous week
  %a{'ng-click'=>'clearWeek()', class: 'btn'} Clear

  %table.table.bandwidths
    %tr
      %th
        Week of {[week.startDay.toString('MMMM dd')]}
      %th{'ng-repeat'=>'day in [0,1,2,3,4,5,6]'}
        {[week.startDay.clone().addDays(day).toString('dddd')]}
        {[week.startDay.clone().addDays(day).toString('MMM d')]}
    %tr{'ng-repeat'=>'project in week.projects'}
      %td {[project.name]}
      %td{ 'ng-controller'=>'app.BandwidthContainerController', 'ng-repeat'=>'bandwidth in project.days track by $index', 'ng-mouseenter'=>'isEditEnabled = true', 'ng-mouseleave'=>'isEditEnabled = false'}
        .incrementors{'ng-show'=>'isEditEnabled'}
          %i.icon-chevron-down{'ng-click'=>'decrement()'}
          %i.icon-chevron-up{'ng-click'=>'bandwidth = bandwidth + 1'} 
        {[bandwidth]}