---
layout: partial
title: Project 
---
%h4 Signin

#signInWithGithub{'ng-controller'=>'app.GithubLoginController'}
  %button{'ng-click'=>'initiateSignIn()', class: 'btn btn-primary'} Sign in with Github
