---
project_name: 'Daily Bandwidth'
---

!!!
%html{'ng-app'=>'dailybandwidth'}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %title {{ page.title }}

    {{ 'main' | stylesheet }}
    {% stylesheet bootstrap_and_overrides %}
    %script{type: 'text/javascript', src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js'}
    %script{type: 'text/javascript', src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js'}
    %script{type: 'text/javascript', src: 'https://cdn.firebase.com/v0/firebase.js'}
    %script{type: 'text/javascript', src: 'https://cdn.firebase.com/v0/firebase-simple-login.js'}
    %script{type: 'text/javascript', src: 'http://firebase.github.io/angularFire/angularFire.js'}

    {{ 'main' | javascript }}

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/

    %body
      #topNav
        .row
          .pull-left
            %img{:src => "{{'logo_notch8_small.gif' | asset_path}}"}
          .navContainer.pull-right{'ng-controller'=>'app.TopNavController'}

            %ul.nav.nav-pills.pull-right
            
              %li{'ng-snow'=>'shouldShowHome'}
                %a{href: '/project.html#/home', class: 'btn'} Home

              %li{'ng-show'=>'shouldShowSettings'}
                %a{href: '/project.html#/settings', class: 'btn'} Settings

              %li{'ng-controller'=>'app.LogoutController', 'ng-show'=>'shouldShowLogout'}
                %a{'ng-click'=>'logout()', class: 'btn'} Logout


      #mainContent{'ng-controller'=>'app.MainController'}
        .row
          .span10.offset1
            %div{"ng-controller"=>"app.AlertController"}
              .alert{"ng-repeat"=>"alert in alerts", :class=>'alert-{[alert.type]}', :type=>"alert.type"}
                {[alert.msg]}
                %button{'ng-click'=>"closeAlert($index)", type: "button", class: "close", "data-dismiss"=> "alert"} x
            {{ content }}
      #footer
        .row
          .span11.offset1
            copyright © 2013 Notch8 and licensed under the
            %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/us/"} creative commons attribution-share alike license


